<a href="https://colab.research.google.com/github/PasanAbeysekara/kaggle_course/blob/main/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## *Creating, Reading and Writing*

▶ Creating data

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
pd.DataFrame({'Bob': ['I liked it.','It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [ ]:
pd.DataFrame({'Bob': ['I liked it.','It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

DataFrame is a table, a Series is a list

In [ ]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'])

2015 Sales    30
2016 Sales    35
2017 Sales    40
dtype: int64

 Series does not have a column name, it only has one overall name

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

▶ Reading data

When you open a CSV file you get something that looks like this:


```
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11
```

In [ ]:
wine_reviews = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
wine_reviews.shape

(3000, 9)

In [ ]:
wine_reviews.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
wine_reviews = pd.read_csv("/content/sample_data/california_housing_test.csv", index_col=0)
wine_reviews.head()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

## *Indexing, Selecting & Assigning*

In [ ]:
wine_reviews.latitude

longitude
-122.05    37.37
-118.30    34.26
-117.81    33.78
-118.36    33.82
-119.67    36.33
           ...
-119.86    34.42
-118.14    34.06
-119.70    36.30
-117.12    34.10
-119.63    34.42
Name: latitude, Length: 3000, dtype: float64

In [ ]:
wine_reviews['latitude']

longitude
-122.05    37.37
-118.30    34.26
-117.81    33.78
-118.36    33.82
-119.67    36.33
           ...
-119.86    34.42
-118.14    34.06
-119.70    36.30
-117.12    34.10
-119.63    34.42
Name: latitude, Length: 3000, dtype: float64

In [ ]:
wine_reviews.latitude[-122.05]

longitude
-122.05    37.37
-122.05    37.36
-122.05    38.26
-122.05    37.05
-122.05    37.93
-122.05    37.31
-122.05    37.38
Name: latitude, dtype: float64

In [ ]:
wine_reviews.iloc[0]

latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: -122.05, dtype: float64

In [ ]:
wine_reviews.iloc[:,0]

longitude
-122.05    37.37
-118.30    34.26
-117.81    33.78
-118.36    33.82
-119.67    36.33
           ...
-119.86    34.42
-118.14    34.06
-119.70    36.30
-117.12    34.10
-119.63    34.42
Name: latitude, Length: 3000, dtype: float64

In [ ]:
wine_reviews.iloc[[0,3,5],0]

longitude
-122.05    37.37
-118.36    33.82
-119.56    36.51
Name: latitude, dtype: float64

In [ ]:
wine_reviews.iloc[-2:]

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0